.mainGridRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1 / span 3;
    grid-row: 4;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #434343;
    /* border: 1px solid red; */

    background:
      linear-gradient(135deg, #1e1e1e, #0d0c0c 60%) top left,
      linear-gradient(-135deg, #1e1e1e, #0d0c0c 60%) top right,
      linear-gradient(45deg, #1e1e1e, #0d0c0c 60%) bottom left,
      linear-gradient(-45deg, #1e1e1e, #0d0c0c 60%) bottom right;
    background-size: 50% 50%;
    background-repeat: no-repeat;
}
.updateBannerMegaBox {
    background-color: #111;
    grid-column: 2;
    grid-row: 5;
    border: 1px solid #434343;
    font-size: 15px;
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 5px;
    white-space: normal;
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.updateWarningBar {
    border: 3px solid white;
    color: #e06666;
    /* height: 80px; */
    box-sizing: border-box;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    color: white;
}