# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env
honkaiCodeTests/
Planner/

charactersLocal.js
kyleNotes.js



VercelFiles/node_modules/
VercelFiles/.next/
VercelFiles/.env
VercelFiles/*.node

HonkaiSR/Abundance.png
HonkaiSR/Destruction.png
HonkaiSR/Erudition.png
HonkaiSR/Harmony.png
HonkaiSR/Hunt.png
HonkaiSR/Nihility.png
HonkaiSR/Preservation.png
HonkaiSR/Remembrance.png

HonkaiSR/Calculator/node_modules
HonkaiSR/Calculator/characterData.js
HonkaiSR/Calculator/characterDataParsed.js

HonkaiSR/Calculator/dStatuses.js

HonkaiSR/Calculator/package.json
HonkaiSR/Calculator/package-lock.json

HonkaiSR/Calculator/stats.js
HonkaiSR/Calculator/stats2.js
HonkaiSR/TheLibrary/MainConfigs/

HonkaiSR/Calculator/thinkeroni.txt
HonkaiSR/Calculator/todo.txt

a_enkaExampleParseChar.json
a_enkaExampleParse.json
enkaFuckery.js

teamData.js


stats2.js
stats2 copy.js

suffering2CharLocal.js
suffering4Analytics copy.js