# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.env
honkaiCodeTests/
Planner/

charactersLocal.js
kyleNotes.js



VercelFiles/node_modules/
VercelFiles/.next/
VercelFiles/.env
VercelFiles/*.node