/* style.css */
/* #181818 */
/* #5d5d5d for thin lines */

html,body {
    background-color:#181818;
    padding: 0; 
    margin: 0;
    height: 100%;
}


.generalFooter {
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    padding-left: clamp(40px, 10vw, 60px);
    max-width: 1280px;
    box-sizing: border-box;
    /* justify-content: center;
    align-items: center; */
    white-space: nowrap;
}
.footerBox {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* background-color: black; */
    border-top: 1px solid #434343;
    box-sizing: border-box;
}
.footerTextBox {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.footerIconBox {
    width: 30%;
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-top: 1px solid #434343;
}
.footerIcon {
    border-radius: 50%;
    width:32px;
    height:auto;
    outline: 2px solid white;
    box-sizing: border-box;
}
.main {
    width: 100%;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
    background-color:#181818; 
    display: flex;
    justify-content: center;
    padding-top: 10px;
    box-sizing: border-box;
}
.theGreatBox {
    width: 100%;
    padding-left: clamp(40px, 10vw, 60px);
    min-width: 930px;
    max-width: 1280px;
    height: auto;
    /* display: flex; */
    /* white-space: nowrap; */
    /* flex-flow: row; */
    display: grid;
    /* flex-direction: row; */
    /* justify-content: center;
    align-items: center; */
    /* white-space: nowrap; */
    box-sizing: border-box;
    padding-bottom: 100px;
    white-space: nowrap;
    /* overflow: auto; */
    margin: 0;

    grid-template-columns: [first] 25% [line2] auto [line3] 35% [end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [end-line];
}

.sidenav {
    height: 100%; /* 100% Full-height */
    width: 5%;
    min-width: 50px;
    max-width: 60px;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 30px; /* Place 30px from top */
    box-sizing: border-box;
}
.sidenav a {padding: 2px;text-align: center;display: block; box-sizing: border-box;}
/* hover */
.sidenav a:hover {color: #f1f1f1;border-radius: 50%;}
/* Icons on the navbar */
.roundedIcon {
    border-radius: 20%;
    width:95%;
    height:auto;
    outline: 2px solid white;
    box-sizing: border-box;
}
.classVoidSpace {
    width: 100%;
    height: 15%;
    border-bottom: 1px solid #434343;
    border-top: 1px solid #434343;
    display: flex;
    text-align: center;
    white-space: normal;
    box-sizing: border-box;
}
/* d9d9d9 */
.settingsIcon {
    width: 70%;
    height: auto;
}

/* Navbar container */
.iconsBar {
    /* background-color: white; */
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0%;
  }
  /* The dropdown container */
  .dropdown {
    float: left;
    width: 33.3333%;
    overflow: hidden;
    background-color: #d9d9d9;
    border-radius: 20%;
    box-sizing: border-box;
    border: 2px solid black;
    padding: 0%;
    text-align: center;
  }
  .dropbtn {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  /* Dropdown button */
  .dropdown .dropbtn {
    /* font-size: 30px; */
    background-color: #d9d9d9;
    color: black;
    border: none;
    outline: none;
    /* color: #d9d9d9; */
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
    box-sizing: border-box;
  }
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #d9d9d9;
    width: 260px;
    /* display: flex; */
    /* min-width: 160px; */
    z-index: 1;
    box-sizing: border-box;
  }
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

.helpBox {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #666666;
    overflow-y: auto;
    white-space: normal;
}
.helpBoxHeader {
    width: 100%;
    height: 20%;
    font-size: 20px;
    background-color: #434343;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.helpBoxText {
    width: 100%;
    height: 30%;
    font-size: 15px;
}


.buildsBox {
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #666666;
    overflow-y: auto;
    white-space: normal;
}
.buildsBoxHeader {
    width: 100%;
    height: 30%;
    font-size: 20px;
    background-color: #434343;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.buildsBoxText {
    width: 100%;
    height: 70%;
    font-size: 15px;
}

.togglesBox {
    width: 100%;
    height: 600px;
    background-color: #666666;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid #666666;
    overflow-y: auto;
}
.togglesHeader { 
    width: 100%;
    height: 5%;
    background-color: #434343;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}
.togglesRowBox {
    height: 18px;
    box-sizing: border-box;
    border-bottom: 1px solid #434343;
    display: flex;
}
.togglesTraitBox {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.traitButtonImage {
    width: 100%;
    height: auto;
    filter: brightness(2);
}




.togglesStat {
    width: 25%;
    height: 100%;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    white-space: normal;
    box-sizing: border-box;
}
.togglesValue {
    width: 60%;
    height: 100%;
    font-size: 12px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    border-left: 1px solid black;
}
.togglesUse {
    width: 15%;
    height: 100%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    box-sizing: border-box;
    border-left: 1px solid black;
}

.togglesCheckBox {
    width: auto;
    height: 100%;
    /* font-size: 10px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: normal;
}


/* this is for archselects and armor columns */
.classAndArmor {
    display: flex;
    width: 100%;
    /* min-width: 450px; */
    height: auto;
    display: flex;
    white-space: nowrap;
    /* flex-grow: 2; */

    grid-column: 2 / span 1;
    grid-row: 1;
}


div {
    color: white;
}

* {
/* outline: 2px solid red; */
font-family: Arial, Helvetica, sans-serif;
}


.basicsToAccessoriesBox {
    /* width: 100%; */
    flex-basis: 100%;
    /* min-width: 930px;
    max-width: 1280px; */
    height: 0;
    display: flex;
    white-space: nowrap;
    page-break-after: always;
    break-after: always;
}
.consumablesToTraitsBox {
    min-width: 930px;
    max-width: 1280px;
    height: auto;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- BASIC STATS Column -------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/




.basicsBox {
    /* width: 100%;
    min-width: 200px; */
    /* flex-grow: 1; */
    width: 100%;
    height: 800px;
    max-height: 800px;
    background-color: #666666;
    color: white;
    display: flex;
    flex-direction: column;
    /* white-space: normal; */
    box-sizing: border-box;
}
/* .basicsBox>* {
    flex: 1 1 auto;
} */
.basicsTitleHeader {
    font-size: 30px;
    /* font-size: 200%; */
    height: 25%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.basicsHeaderBig {
    font-size: 20px;
    padding: 0%;
    width: 100%;
    background-color: #434343;
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    box-sizing: border-box;
}
.basicsRows {
    list-style: none;
    display: inline;
    padding: 0;
}
.basicsSummaryBox {
    height: 16%;
    width: 100%;
    box-sizing: border-box;
}
.basicsDRBox {
    height: 34%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.basicsDRheaderTitle {
    font-size: 20px;
    width: 100%;
    height: 20%;
    background-color: #434343;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.basicsDRheaderSmall {
    font-size: 15px;
    height: 7%;
    padding: 0%;
    width: 100%;
    background-color: #434343;
    display: flex;
    text-align: left;
    justify-content: left;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.basicsDRContainer {
    width: 100%;
    height: 7%;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.basicsDRStat {
    width: 66%;
    height: 100%;
    font-size: 14px;
    display: flex;
    text-align: left;
    justify-content: left;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.basicsDRValue {
    width: 30%;
    height: 100%;
    font-size: 14px;
    display: flex;
    text-align: right;
    justify-content: right;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.basicsDRsumContainer {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.basicsTotalDR {
    width: 60%;
    padding-right: 2%;
    background-color: #434343;
    height: 100%;
    font-size: 20px;
    display: flex;
    white-space: nowrap;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}
.basicsTotalDRsum {
    width: 40%;
    padding-right: 2%;
    height: 100%;
    font-size: 20px;
    background-color: black;
    border-right: 1px solid #434343;
    display: flex;
    white-space: nowrap;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}
.basicsSummaryContainer {
    width: 100%;
    height: 18.75%;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.basicsSummaryStat {
    width: 66%;
    height: 100%;
    padding-left: 1%;
    display: flex;
    text-align: left;
    justify-content: left;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.basicsSummaryValue {
    width: 30%;
    height: 100%;
    display: flex;
    text-align: right;
    justify-content: right;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.basicsResistanceBox {
    height: 13.5%;
    width: 100%;
    box-sizing: border-box;
    /* white-space: nowrap; */
    /* display: block; */
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.resistanceHeader {
    width: 100%;
    height: 24%;
    font-size: 20px;
    padding: 0;
    background-color: #434343;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.resistanceContainer {
    height: 38%;
    width: 100%;
    background-color: black;
    padding: 0%;
    display: flex;
    box-sizing: border-box;
}
.resistanceIcon {
    width: auto;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
}
.resistanceValues {
    width: 20%;
    min-width: 40px;
    height: 100%;
    font-size: 25px;
    border: 1px solid #434343;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.basicsHealingBox {
    height: 25.5%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.healingHeaderTitle {
    font-size: 20px;
    width: 100%;
    height: 13%;
    background-color: #434343;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.healingHeaderSmall {
    font-size: 15px;
    height: 8%;
    padding: 0%;
    width: 100%;
    background-color: #434343;
    text-align: left;
    box-sizing: border-box;
}
.healingRowContainer {
    width: 100%;
    height: 10.1428571%;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.basicsStaminaBox {
    height: 11%;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.staminaHeaderTitle {
    font-size: 20px;
    width: 100%;
    height: 30%;
    background-color: #434343;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
    display: flex;
    text-align: center;
    justify-content: center;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.staminaRowContainer {
    width: 100%;
    height: 23.333333%;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- Archetype Columns --------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.classBox {
    /* width: 150px; */
    /* min-width: none; */
    /* width: clamp(150px, 10vw, 150px); */
    width: 30%;
    min-width: 120px;
    height: 800px;
    background-color: black;
    color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    box-sizing: border-box;
    white-space: nowrap;
}
.classAbilityBox {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.classIconContainer {
    width: 100%;
    height: 38%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.classIconSelected {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}
.classThinHeader {
    font-size: 15px;
    padding: 0%;
    height: 4%;
    width: 100%;
    background-color: #434343;
    text-align: left;
    box-sizing: border-box;
}
.classSelectorBox {
    width: 100%;
    height: 8%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.classSelector {
    /* font-size: 23px; */
    font-size: clamp(18px, 2vw, 23px);
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.classAbilityContainer {display: flex;height: 16%;box-sizing: border-box;background-color: #666666;}
.classAbilitySelectorBox {
    width: 60%;
    height: 100%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.classAbilitySelector {
    width: 100%;
    height: 100%;
    padding: 0%;
    font-size: 15px;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.classAbilityIcon {
    width: 40%;
    height: auto;
    padding: 0;
    text-align: center;
    margin: auto;
}
.classAbilityDescription {
    text-align: left;
    font-size:10.5px;
    height: 30%;   
    white-space: normal;
    overflow-y: auto;
}
.classPassivesBox {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}
.classPassiveHeader {
    font-size: 15px;
    padding: 0%;
    height: 4%;
    background-color: #666666;
    text-align: left;
    box-sizing: border-box;
    white-space: nowrap;
}
.classPassiveDescription {
    width: 100%;
    height: 20%;
    text-align: left;
    font-size: clamp(9.5px, 0.8vw, 11px);
    padding-top: 2px;
    box-sizing: border-box;
    white-space: normal;
    /* overflow-wrap: break-word; */
    overflow-y: auto;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- PrimePerk/Armor Column ---------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.classArmorBox {
    width: 40%;
    min-width: 150px;
    /* min-width: none; */
    height: 800px;
    background-color: black;
    color: white;
}
.primePerkBox {
    width: 100%;
    height: 40%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
}
.classTitle {
    width: 100%;
    height: 21%;
    font-size: clamp(15px, 2vw, 25px);
    border-bottom: 1px solid #434343;
    border-top: 1px solid #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    white-space: normal;
}
.classPerkContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 25.5%;
    align-items: center;
    white-space: normal;
}
.classPerkName {
    font-size: clamp(8px, 2vw, 20px);
    width: 70%;
    height: 100%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: center;
    box-sizing: border-box;
}
.classPerkIconHolder {
    width: 30%;
    height: 100%;
    padding: 0;
    display: flex;
    text-align: center;
}
.classPerkIcon {
    width: 100%;
    height: fit-content;
    margin: auto;
}
.classPerkDescription{
    width: 100%;
    height: 38.5%;
    border-bottom: 1px solid #434343;
    font-size: 12px;
    text-align: center;
    white-space: normal;
    box-sizing: border-box;
}
.armorHeaderBig{
    width: 100%;
    height: 3%;
    font-size: clamp(8px, 2vw, 20px);
    padding: 0%;
    background-color: #434343;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
    border-bottom: 1px solid black;
}
.armorSelectionsBox {
    width: 100%;
    height: 57%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.armorSelector {
    font-size: 15;
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.armorHeader{
    width: 100%;
    height: 4%;
    font-size: 15px;
    padding: 0%;
    background-color: #434343;
    text-align: left;
}
.armorContainer {
    width: 100%;
    height: 21%;
    display: flex;
    box-sizing: border-box;
}
.armorSelectorBox {
    font-size: 15;
    width: 40%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.armorIconHolder {
    width: 30%;
    height: 100%;
    padding: 0;
    display: flex;
    text-align: center;
    /* background-color: #666666; */
}
.armorIcon {
    width: 100%;
    height: auto;
    margin: auto;
}
.armorValueContainer {width: 30%; height: 100%;text-align: center;}
.armorValueHeader {
    font-size: 9;
    width: 100%;
    height: 25%;
    padding: 0%;
    background-color: #434343;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    box-sizing: border-box;
}
.armorValueDisplay {
    font-size: 9;
    width: 100%;
    height: 25%;
    padding: 0%;
    color: white;
    padding-top: 3px;
    padding-bottom: 3px;
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
    box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- Accessory Column ---------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.accessoriesBox {
    width: 100%;
    /* min-width: 280px; */
    height: 800px;
    background-color: #666666;
    color: white;
    box-sizing: border-box;
}
.accessoriesTitleHeader {
    font-size: 30px;
    height: 4%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    box-sizing: border-box;
}
.accessoriesContainer {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #434343;
    color: white;
    align-items: center;
    display: flex;
    box-sizing: border-box;
}
.accessoryIconHolder {
    width: 25%;
    height: 100%;
    min-width: 70px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.accessoryIcon {
    width: auto;
    height: 100%;
    margin: auto;
    /* display: flex;
    text-align: center;
    justify-content: center;
    align-items: center; */
}
.accessoryContainer{
    font-size: 15px;
    width: 32%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
}
.accessoryHeader {
    width: 100%;
    height: 22%;
    font-size: 15px;
    padding-left: 2%;
    background-color: #434343;
    text-align: left;
    box-sizing: border-box;
}
.accessorySelectorBox {
    width: 100%;
    height: 78%;
    font-size: 15px;
    padding: 0%;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
}
.accessorySelector {
    width: 100%;
    height: 100%;
    min-width: 90px;
    font-size: clamp(12px, 1.1vw, 15px);
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    white-space: normal;
}
.accessoryDescription {
    width: 43%;
    min-width: 120px;
    height: 100%;
    text-align: left;
    /* font-size:10px; */
    font-size: clamp(9px, 0.8vw, 11px);
    padding-left: 0.5%;
    background-color: black;
    border-right: 1px solid #434343;
    box-sizing: border-box;
    white-space: normal;
    overflow-y: auto;
}
.fragmentsContainer{
    width: 43%;
    height: 100%;
    font-size: 15px;
    padding: 0%;
    background-color: #d9d9d9;
    display: flex;
    flex-direction: column;
}
.fragmentsSelectorBox {
    width: 100%;
    height: 26%;
    padding: 0%;
    border-left: 1px solid #666666;
    border-right: 1px solid #434343;
    display: flex;
    box-sizing: border-box;
    white-space: nowrap;
    /* overflow: ; */
}
.fragmentsSelector {
    width: 100%;
    height: 100%;
    font-size: clamp(8px, 1vw, 10px);
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: left;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
}
.fragmentsSelector + .fragmentsSelector {
    border-top: 1px solid #666666;
}
.relicDescription {
    background-color: black;
    text-align: left;
    font-size:11px;
    height: 7%;
    padding-top: 2px;
    display: flex;
    box-sizing: border-box;
    border-left: 1px solid #434343;
    border-right: 1px solid #434343;
    white-space: normal;
    overflow-y: auto;
}
.relicEffectsContainer {
    width: 100%;
    display: flex;
    padding: 0%;
    height: 25%;
    background-color: black;
    white-space: normal;
}
.relicHealingContainer {
    width: 40%;
    height: 100%;
    background-color: #666666;
    display: flex;
    flex-direction: column;
}
.relicComplexContainer {
    width: 60%;
    height: 100%;
    background-color: #434343;
    box-sizing: border-box;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}
.relicComplexDesc {
    width: 100%;
    height: 30%;
    font-size: 11px;
    text-align: left;
    align-items: center;
    justify-content: left;
    display: flex;
    box-sizing: border-box;
    background-color: black;
    color: white;
}
.relicComplexInputRow {
    width: 100%;
    height: 10%;
    font-size: 12px;
    /* text-align: left;
    align-items: center;
    justify-content: left; */
    display: flex;
    box-sizing: border-box;
    background-color: #666666;
    color: white;
}
.complexInputHeader {
    width: 50%;
    height: 100%;
    font: 15px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.complexInput {
    width: 40%;
    height: 100%;
    font: 12px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.complexPercBox {
    width: 10%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}



.relicComplexSummaryBox {
    width: 100%;
    height: 40%;
    box-sizing: border-box;
    display: flex;
}
.relicComplexSummaryHalf {
    width: 50%;
    height: 100%;
    border-left: 1px solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.complexHalfHeader {
    width: 100%;
    height: 25%;
    border-bottom: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.complexHalfHalfBox {
    width: 100%;
    height: 25%;
    display: flex;
}
.complexHalfHalfHeader {
    width: 50%;
    height: 100%;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.complexHalfValueBox {
    width: 100%;
    height: 50%;
    display: flex;
    font-size: 9px;
}
.complexHalfValue {
    width: 50%;
    height: 100%;
    background-color: #666666;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-right: 1px solid black;
}
.relicHeaderBig {
    width: 100%;
    height: 20%;
    font-size: 16px;
    text-align: center;
    /* font-size: clamp(12px, 1.1vw, 15px); */
    padding-left: 1%;
    background-color: #434343;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: left; */
    white-space: normal;
    box-sizing: border-box;
}
.relicHeader {
    width: 100%;
    height: 10%;
    font-size: 15px;
    /* font-size: clamp(12px, 1.1vw, 15px); */
    padding-left: 1%;
    background-color: #434343;
    text-align: left;
    white-space: nowrap;
    box-sizing: border-box;
}
.complexRowContainer {
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}


/* ----------------------------------------------------------------------------------------*/
/* ------------------------- Consumables Column -------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.consumablesBox {
    /* width: 300px; */
    width: 100%;
    /* min-width: 200px; */
    /* width: clamp(200px, 20vw, 300px); */
    /* min-width: 190px; */
    height: 800px;
    max-height: 800px;
    background-color: #666666;
    color: white;
    /* white-space: normal; */
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
}
.consumablesWholeBox {
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: column;
}
.consumablesHeader {
    width: 100%;
    height: 3%;
    font-size: 20px;
    padding-left: 1%;
    border: 1px solid black;
    background-color: #434343;
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: left;
    box-sizing: border-box;
    white-space: nowrap;
}
.concLimitHeader {
    width: 66%;
    height: 100%;
    font-size: clamp(18px, 1.5vw, 20px);
    display: flex;
    text-align: left;
    justify-content: left;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.concLimitValue {
    width: 40%;
    height: 100%;
    font-size: 20px;
    font-size: clamp(18px, 1.5vw, 20px);
    display: flex;
    text-align: right;
    justify-content: right;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
}
.consumableContainer {
    width: 100%;
    height: 10.4444%;
    border: 1px solid #434343;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: nowrap;
}
.consumableImageBox {
    width: 30%;
    height: 100%;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
}
.consumableImage {
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
}
.consumableInfoBox {
    width: 70%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
}
.consumableSelectorBox {
    width: 100%;
    height: 22%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.consumableSelector {
    /* font-size: 23px; */
    font-size: clamp(10px, 1vw, 12px);
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: left;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.consumableDesc {
    width: 100%;
    height: 78%;
    text-align: left;
    white-space: normal;
    font-size:10px;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #434343;
    overflow-y: auto;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- WEAPONS Column -----------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.weaponsBox {
    /* width: 550px; */

    width: 100%;
    /* min-width: 450px; */
    /* min-width: 190px; */
    height: 800px;
    max-height: 800px;
    background-color: black;
    color: white;
    /* white-space: normal; */
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.weaponsWholeBox {
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: row;
}
.weaponsThirdsBox {
    width: 33.33%;
    height: 100%;
    border: 1px solid #666666;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.weaponImageBox {
    width: 100%;
    height: 10%;
    background-color: #666666;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
}
.weaponImage {
    width: fit-content;
    height: 100%;
    box-sizing: border-box;
}
.weaponSelectorBox {
    width: 100%;
    height: 4%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}
.weaponSelector {
    /* font-size: 23px; */
    font-size: clamp(13px, 1vw, 15px);
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.mutatorHeaderBox {
    width: 100%;
    height: 6%;
    /* border-bottom: 1px solid #434343; */
    background-color: #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.mutatorHeader {
    width: 33.33%;
    height: 100%;
    font-size: clamp(10px, 1vw, 15px);
    background-color: #434343;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.mutatorSelectorBox {
    width: 66.66%;
    height: 100%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    box-sizing: border-box;
}
.mutatorSelector {
    font-size: clamp(10px, 1vw, 15px);
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.mutatorDesc {
    width: 100%;
    height: 15%;
    text-align: left;
    white-space: normal;
    font-size:10px;
    color: white;
    box-sizing: border-box;
    border-bottom: 1px solid #434343;
    overflow-y: auto;
}
.modSelectorBox {
    width: 50%;
    height: 100%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    box-sizing: border-box;
}
.modSelector {
    font-size: clamp(10px, 0.8vw, 12px);
    width: 100%;
    height: 100%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.modHeader {
    width: 25%;
    height: 100%;
    background-color: #434343;
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
    white-space: normal;
}
.modImageBox {
    width: 25%;
    height: 100%;
    background-color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modImage {
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}
.weaponRowContainer {
    width: 100%;
    height: 4.4%;
    background-color: #666666;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    border: 1px solid #434343;
}
.weaponStat {
    width: 50%;
    height: 100%;
    font-size: clamp(10px, 0.8vw, 12px);
    display: flex;
    text-align: left;
    justify-content: left;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-left: 2%;
    background-color: #434343;
}
.weaponValue {
    width: 50%;
    height: 100%;
    font-size: 12px;
    display: flex;
    text-align: right;
    justify-content: right;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-right: 2%;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- TRAITS Column ------------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.traitsBox {
    /* width: 350px; */
    width: 100%;
    /* min-width: 280px; */
    /* min-width: none; */
    height: 800px;
    background-color: #666666;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.traitContainer {
    width: 100%;
    height: 4.8%;
    min-height: 40px;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.traitButton {
    width: 10%;
    height: 100%;
    border-bottom: 1px solid #434343;
    background-color: black;
    color: white;
    font-size: clamp(26px, 2vw, 35px);
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.traitButton:disabled {
    border: 2px solid #434343;
    background-color: #272727;
    color: black;
    appearance: none;
    box-sizing: border-box;
}
.traitLineHolder {
    width: 80%;
    height: 100%;
    border-bottom: 1px solid #434343;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.traitNameHolder {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.traitSelector {
    width: 70%;
    height: 100%;
    font-size: clamp(10px, 1vw, 14px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    background-color: #d9d9d9;
}
.traitSelector:disabled {
    color: black;
    appearance: none;
}
.traitLevelDisplay {
    width: 30%;
    height: 100%;
    font-size: clamp(13px, 1vw, 15px);
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
    
}
.traitLevelContainer {
    width: 100%;
    height: 50%;
    background-color: black;
    display: flex;
    /* display: inline-flex; */
    flex-direction: row;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    border: 1px solid #434343;
    position: relative;
    /* overflow: visible; */
}
.traitLevelBar {
    width: 100%;
    height: 100%;
    position: absolute;
    /* left: 1px; */
    top: 1px;
    display: flex;
    box-sizing: border-box;
    border: 1px solid #434343;
    /* overflow: visible; */
}
.traitLevelCircle {
    /* These used to be circles and I'm too lazy to change the name */
    /* border-radius: 50%; */
    outline: 1px solid white;
    width: 10%;
    height: 95%;
    box-sizing: border-box;
    /* #93CCEA for the blue, just "orange" will work for the core traits */
}
.pointsSpent {
    background-color: #93CCEA;
    height: 100%;
    width: 0%;
    border-top: 2px solid #434343;
    position: absolute;
}
.intrinsicPoints {
    background-color: orange;
    height: 100%;
    width: 0%;
    /* box-sizing: border-box; */
    border-top: 2px solid #434343;
    position: absolute;

}
.traitMegaTitleHeader {
    font-size: clamp(24px, 2vw, 30px);
    height: 35px;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
/* USED IN ALL MIDDLE LEVEL TITLE HEADERS */
.bottomTitleHeader {
    font-size: clamp(24px, 2vw, 30px);
    height: 4%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
/* ----------------------------------------------------------------------------------------*/
/* ------------------------- ADVANCED STATS -----------------------------------------------*/
/* ----------------------------------------------------------------------------------------*/
.advancedStatsBox {
    background-color: #666666;
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 930px;
    max-width: 1280px;
    height: 500px;
    white-space: nowrap;
    box-sizing: border-box;
    grid-column: 1 / span 3;
    grid-row: 3;
}
.advancedStatsTitleHeader {
    font-size: 30px;
    height: 8%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
.advancedStatsHeader {
    font-size: 18px;
    height: 4%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}
.advancedSummaryContainer {
    height: 8%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    box-sizing: border-box;
}
.advancedSummaryThirds {
    height: 100%;
    width: 33.3333%;
    /* min-width: 300px; */
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.advancedSummaryStat {
    width: 50%;
    height: 100%;
    font-size: clamp(22px, 2vw, 28px);
    display: flex;
    text-align: right;
    justify-content: right;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-right: 1%;
}
.advancedSummaryValue {
    width: 50%;
    height: 100%;
    font-size: clamp(22px, 2vw, 28px);
    display: flex;
    text-align: right;
    justify-content: right;
    background-color: #666666;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    padding-right: 3%;
}
.advancedCategoryBoxHolder {
    width: 100%;
    height: 80%;
    box-sizing: border-box;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}
.advancedCategoryBox {
    width: 25%;
    /* min-width: 232.5px; */
    /* height: 100%;*/
    height: auto;
    box-sizing: border-box;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.advancedCategoryHeader {
    font-size: 20px;
    height: 40px;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-bottom: 1px solid black; */
    border-right: 1px solid #434343;
    border-left: 1px solid #434343;
    box-sizing: border-box;
}

/* -----------------------------SHIELDS AND MISC------------------------*/
.advancedShieldBox {
    height: 40px;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.advancedMiscBoxStat {
    width: 60%;
    height: 100%;
    font-size: clamp(14px, 1vw, 16px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    white-space: normal;
}
.advancedMiscBoxValue {
    width: 40%;
    height: 100%;
    font-size: clamp(14px, 1vw, 16px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: normal;
}
.shieldsCheckBox {
    width: 30%;
    height: 60%;
    /* font-size: 10px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: normal;
}
.advancedMiscSelector {
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 0%;
    background-color: #d9d9d9;
    color: black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    /* white-space: normal; */
}
.shieldsFiller {
    width: 100%;
    height: 40%;
    background-color: black;
}
.miscFiller {
    width: 100%;
    height: 70%;
    background-color: black;
}
/* -----------------------------HEALING------------------------*/
.advancedHealingBox {
    height: 5%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    font-size: 15px;
    /* background-color: #666666; */
    background-color: #434343;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.advancedHealingBoxStat {
    width: 60%;
    height: 100%;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: left;
    align-items: center;
    background-color: #434343;
    white-space: normal;
    box-sizing: border-box;
    padding-left: 2%;
}
.advancedHealingBoxValue {
    width: 40%;
    height: 100%;
    font-size: 14px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: normal;
    background-color: #666666;
    box-sizing: border-box;
}
.totalHealingBox {
    width: 100%;
    height: 20%;
    display: flex;
    white-space: nowrap;
    box-sizing: border-box;
}
.totalHealingBoxHalf {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid black;
    border: 0.1px solid black;
}
.totalHealingBigHeader {
    font-size: 20px;
    height: 10%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* border-bottom: 1px solid black; */
    box-sizing: border-box;
}
.totalHealingHeader {
    height: 40%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    font-size: 16px;
    /* background-color: #666666; */
    background-color: #434343;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.totalHealingValue {
    height: 70%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    font-size: clamp(22px, 1vw, 25px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}

/* -----------------------------DR FACTORS------------------------*/
.advancedDRBox {
    height: 10%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    background-color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.advancedDRBoxThin {
    height: 10%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    font-size: 14px;
    background-color: #434343;
    display: flex;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.advancedDRStat {
    width: 40%;
    height: 100%;
    font-size: clamp(13px, 1vw, 16px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #434343;
    white-space: normal;
    box-sizing: border-box;
}
.advancedDRValue {
    width: 40%;
    height: 100%;
    font-size: clamp(14px, 1vw, 16px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    border-left: 1px solid black;
}
.advancedDRHeaderUse {
    width: 20%;
    height: 100%;
    font-size: clamp(14px, 1vw, 16px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    border-left: 1px solid black;
}

.advancedDRCheckBox {
    width: 30%;
    height: 60%;
    /* font-size: 10px; */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: normal;
}
.totalBonusDRHeader {
    height: 10%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    font-size: 16px;
    /* background-color: #666666; */
    background-color: #434343;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}
.totalBonusDR {
    height: 20%;
    width: 100%;
    white-space: nowrap;
    padding: 0%;
    font-size: 25px;
    /* background-color: #666666; */
    background-color: #666666;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    box-sizing: border-box;
}





@media (max-width: 768px) {

    .theGreatBox {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100%;
    }

    /* grid-template-columns: [first] 25% [line2] auto [line3] 35% [end]; */
    /* grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [end-line]; */


    .basicsBox,.classAndArmor,.accessoriesBox,.consumablesBox,.weaponsBox,.traitsBox,.advancedStatsBox {
        width: 100%;
        min-width: 100%;
    }
    .advancedStatsBox {
        height: auto;
    }
    .advancedCategoryBoxHolder {
        display: flex;
        flex-flow: row wrap;
        height: auto;
    }
    .advancedCategoryBox {
        width: 100%;
        min-width: 100%;
        height: 350px;
    }

    .shieldsFiller,.miscFiller {
        height: 0%;
    }

    .traitContainer {
        height: 40px;
    }
    .traitButtonImage {
        width: fit-content;
        height: 100%;
        min-width: 0;
    }

    .classAndArmor{order: 0;}
    .accessoriesBox {order: 1;}
    .weaponsBox {order: 2;}
    .traitsBox {order: 3;height: auto;}
    .consumablesBox {order: 4;}
    .basicsBox {order: 5;}
    .advancedStatsBox {order: 6;}

    .footerIconBox {width: 80%;}


    .advancedCategoryBox.advStatsMobileAdjustment {
        height: auto;
        min-height: 0;
    }

    .advancedHealingBox {
        height: 10%;
        width: 100%;
        white-space: nowrap;
        padding: 0%;
        font-size: 15px;
        /* background-color: #666666; */
        background-color: #434343;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-bottom: 1px solid black;
        box-sizing: border-box;
    }


    .mainBody {
        position: relative;
        padding: 0;
        margin: 0;
        display: inline-block;
        justify-content: center;
    }
    .theGreatBox {
        padding-left: 0px;
        padding-top: 6%;
        box-sizing: border-box;
    }
    .generalFooter {
        padding-left: 0px;
        box-sizing: border-box;
    }
    .main {
        padding-top: 6%;
    }

    .sidenav {
        height: 6%;
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: row;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        background-color: #111;
        align-items: center;
        justify-content: space-evenly;
        overflow-y: hidden;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
    }
    .sidenav a {padding: 0px;width: 20%;height: 90%;}
    .roundedIcon {
        /* border-radius: 20%; */
        width: auto;
        height:100%;
        outline: 2px solid white;
        box-sizing: border-box;
    }
    .togglesRowBox {
        height: 23px;
    }
    .togglesCheckBox {
        width: 50%;
        height: 100%;
    }
}

