.mainGridRow {
    display: flex;
    flex-direction: row;

    width: 100%;
    grid-column: 1 / span 3;
    grid-row: 4;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid #434343;

    background:
      linear-gradient(135deg, #1e1e1e, #0d0c0c 60%) top left,
      linear-gradient(-135deg, #1e1e1e, #0d0c0c 60%) top right,
      linear-gradient(45deg, #1e1e1e, #0d0c0c 60%) bottom left,
      linear-gradient(-45deg, #1e1e1e, #0d0c0c 60%) bottom right;
    background-color: #0d0c0c;
    background-size: 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat:  no-repeat, no-repeat, no-repeat, no-repeat;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    position: relative;



    height: 700px;
}




.mainBodyBufferleftBox {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}

.mainBodyCardBox {
    width: 40%;
    height: 80%;
    box-sizing: border-box;
    display: flex;

}
.cardBoxTitleCard {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.cardBoxIconText {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2%;
    padding-left: 2px;
    padding-right: 2px;
}
.cardBoxIconTextBanner {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25%;
    padding-left: 2px;
    padding-right: 2px;
}
.cardBoxCharacterCard {
    height: 100%;
    width: 45%;

    box-sizing: border-box;
    border: 2px solid #434343;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.cardBoxBannerCardIcon {
    width: 100%;
    object-fit: contain;
    scale: 1;
    transform: translateY(0%);
}
.cardBoxCharacterCardIcon {
    width: 100%;
    object-fit: contain;
    scale: 6;
    transform: translateY(7.5%);
}

.cardHoverOpacity:hover {
    opacity: 0.5;
    cursor: pointer;
}
.cardBoxLightconeCardIcon {
    width: 100%;
    object-fit: contain;
    scale: 1.5;
    transform: translateY(7%) translateX(-12%);
}
.cardBoxRelicCardIcon1 {
    /* width: 100%; */
    height: 80%;
    object-fit: contain;
    scale: .9;
    transform: translateY(-20%) translateX(-35%);
    position: absolute;
}
.cardBoxRelicCardIcon2 {
    /* width: 100%; */
    height: 80%;
    object-fit: contain;
    scale: .9;
    z-index: 0;
    transform: translateY(10%) translateX(35%);
    position: absolute;
}

.cardBoxLCAndRelicBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    width: 45%;
    margin-left: 5px;
    margin-right: 5px;
}
.cardBoxLightconeCard {

    width: 100%;
    height: 70%;
    box-sizing: border-box;
    border: 2px solid #434343;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.cardBoxRelicCard {

    height: 30%;
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #434343;
    border-radius: 10px;
    margin-top: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.customMenuResultRowBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    text-decoration: none;
}
