.actionDetailHeaderRowCharacterCUSTOMEnergyBox {
    width: 120px;
    height: 120px;
    /* border-radius: 50%; */
    /* overflow: hidden; */
    box-sizing: border-box;
    /* border: 4px solid grey; */
    /* background-color: #0d0c0c; */
    position: absolute;
    right: 0;
    top: 20%;
}
.actionDetailHeaderRowCharacterCUSTOMEnergyImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    left: 0;
    scale: 1.2;
}
.acheronCenterVortex { 
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    left: 0;
    scale: 1;
    transform: translateY(-4%);
}
.acheronSlashIcon,.acheronSlashIconSmol { 
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    left: 50%;
    top: 50%;
    
    /* transform: translate(-50%, -100%) rotate(40deg); */
    /* transform-origin: center center; */
    transform-origin: center center;
    /* scale: 1.21; */
    width:  43px;
    height: 43px;
}
.acheronSlashIconSmol {
    width:  51px;
    height: 51px;
}



.sw999CartridgeBackground,.sw999CartridgeFillBox {
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.sw999CartridgeBackground {
    width: 90px;
    /* height: 100%; */
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    
    scale: 1;
}
.sw999CartridgeFillBox {
    position: absolute;
    width: 110px;
    height: 75px;
    /* box-sizing: border-box; */
    /* border: 1px solid red; */
}
.sw999CartridgeFillBoxSHUTTER {
    position: absolute;
    overflow: hidden;
    bottom: 6px;
    left: 50%;
    transform: translate(-50%,0%);
    /* width: 100%; */
    width: 99px;
    /* border: 1px solid green; */
}
.sw999CartridgeBackFill {
    /* width: 99px; */
    width: 105px;
    /* object-fit: contain; */
    /* opacity: 0.8; */
    position: absolute;
    bottom: 5px;
    transform: translate(-50%,0%);
    
    scale: 1;
}
.sw999CartridgeBackFillFiller {
    /* height: 75px; */
    width: 100%;
    
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,0%);
}
.sw999CartridgeOutline {
    /* width: 110px; */
    /* height: 100%; */
    width: 110px;
    /* object-fit: contain; */
    /* opacity: 0.8; */
    position: absolute;
    bottom: 0%;
    transform: translate(-50%,0%);
    
    scale: 1;
}


.feixiaoEnergyBackgroundInner,.feixiaoEnergyBackgroundOuter {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-41%);
}
.feixiaoEnergyBackgroundOuter {
    width: 106%;
    /* scale: 1; */
    transform: translate(-50%,-50%);
}

.feixiaoEnergyInnerBottom,.feixiaoEnergyInnerBottom2 {
    position: absolute;
    bottom: 4%;
    scale: 1.05;
}
.feixiaoEnergyInnerBottom {
    right: 44%;
}
.feixiaoEnergyInnerBottom2 {
    left: 44%;
    image-orientation: revert;
    transform: scaleX(-1);
}
.feixiaoEnergyInnerBottomBRIGHT,.feixiaoEnergyInnerBottom2BRIGHT {
    position: absolute;
    bottom: 2%;
    scale: 1.05;
}
.feixiaoEnergyInnerBottomBRIGHT {
    right: 43%;
}
.feixiaoEnergyInnerBottom2BRIGHT {
    left: 43%;
    image-orientation: revert;
    transform: scaleX(-1);
}
.feixiaoEnergyOuterBottom,.feixiaoEnergyOuterBottom2 {
    position: absolute;
    bottom: 2%;
    scale: 1.05;
}
.feixiaoEnergyOuterBottom {
    right: 48.5%;
}
.feixiaoEnergyOuterBottom2 {
    left: 48.5%;
    image-orientation: revert;
    transform: scaleX(-1);
}


.feixiaoEnergyInnerMiddle,.feixiaoEnergyInnerMiddle2 {
    position: absolute;
    bottom: 33%;
    scale: 1.05;
}
.feixiaoEnergyInnerMiddle {
    right: 44%;
}
.feixiaoEnergyInnerMiddle2 {
    left: 44%;
    image-orientation: revert;
    transform: scaleX(-1);
}
.feixiaoEnergyInnerMiddleBRIGHT,.feixiaoEnergyInnerMiddle2BRIGHT {
    position: absolute;
    bottom: 32%;
    scale: 1.05;
}
.feixiaoEnergyInnerMiddleBRIGHT {
    right: 44%;
}
.feixiaoEnergyInnerMiddle2BRIGHT {
    left: 44%;
    image-orientation: revert;
    transform: scaleX(-1);
}
.feixiaoEnergyOuterMiddle,.feixiaoEnergyOuterMiddle2 {
    position: absolute;
    bottom: 24%;
    scale: 1.05;
}
.feixiaoEnergyOuterMiddle {
    right: 70.5%;
}
.feixiaoEnergyOuterMiddle2 {
    left: 70.5%;
    image-orientation: revert;
    transform: scaleX(-1);
}


.feixiaoEnergyInnerUpper,.feixiaoEnergyInnerUpper2 {
    position: absolute;
    bottom: 45%;
    scale: 1.05;
}
.feixiaoEnergyInnerUpper {
    right: 46%;
}
.feixiaoEnergyInnerUpper2 {
    left: 46%;
    image-orientation: revert;
    transform: scaleX(-1);
}
.feixiaoEnergyInnerUpperBRIGHT,.feixiaoEnergyInnerUpper2BRIGHT {
    position: absolute;
    bottom: 45%;
    scale: 1.05;
}
.feixiaoEnergyInnerUpperBRIGHT {
    right: 46%;
}
.feixiaoEnergyInnerUpper2BRIGHT {
    left: 46%;
    image-orientation: revert;
    transform: scaleX(-1);
}
.feixiaoEnergyOuterUpper,.feixiaoEnergyOuterUpper2 {
    position: absolute;
    bottom: 63%;
    scale: 1.05;
}
.feixiaoEnergyOuterUpper {
    right: 61%;
}
.feixiaoEnergyOuterUpper2 {
    left: 60%;
    image-orientation: revert;
    transform: scaleX(-1);
}








.cyreneEnergy1and2Row,.cyreneEnergy1and2Row2 {
    position: absolute;
    bottom: 3.5%;
    scale: 1.08;
}
.cyreneEnergy1and2Row {
    right: 50.5%;
}
.cyreneEnergy1and2Row2 {
    left: 50.5%;
}

.cyreneEnergy3and4Row,.cyreneEnergy3and4Row2 {
    position: absolute;
    bottom: 17%;
    scale: 1.08;
}
.cyreneEnergy3and4Row {
    right: 50.5%;
}
.cyreneEnergy3and4Row2 {
    left: 50.5%;
}

.cyreneEnergy5and10Row,.cyreneEnergy5and10Row2 {
    position: absolute;
    bottom: 24.5%;
    scale: 1.08;
}
.cyreneEnergy5and10Row {
    right: 70.5%;
}
.cyreneEnergy5and10Row2 {
    left: 70.5%;
}

.cyreneEnergy7and8Row,.cyreneEnergy7and8Row2 {
    position: absolute;
    bottom: 31%;
    scale: 1.08;
}
.cyreneEnergy7and8Row {
    right: 50.5%;
}
.cyreneEnergy7and8Row2 {
    left: 50.5%;
}

.cyreneEnergy6and9Row,.cyreneEnergy6and9Row2 {
    position: absolute;
    bottom: 31.5%;
    scale: 1.08;
}
.cyreneEnergy6and9Row {
    right: 65.5%;
}
.cyreneEnergy6and9Row2 {
    left: 65%;
}

.cyreneEnergy11and18Row,.cyreneEnergy11and18Row2 {
    position: absolute;
    bottom: 54.5%;
    scale: 1.08;
}
.cyreneEnergy11and18Row {
    right: 86%;
}
.cyreneEnergy11and18Row2 {
    left: 86%;
}


.cyreneEnergy14and15Row,.cyreneEnergy14and15Row2 {
    position: absolute;
    bottom: 52%;
    scale: 1.08;
}
.cyreneEnergy14and15Row {
    right: 50.5%;
}
.cyreneEnergy14and15Row2 {
    left: 50.5%;
}

.cyreneEnergy13and16Row,.cyreneEnergy13and16Row2 {
    position: absolute;
    bottom: 54%;
    scale: 1.08;
}
.cyreneEnergy13and16Row {
    right: 65%;
}
.cyreneEnergy13and16Row2 {
    left: 65%;
}

.cyreneEnergy12and17Row,.cyreneEnergy12and17Row2 {
    position: absolute;
    bottom: 54%;
    scale: 1.08;
}
.cyreneEnergy12and17Row {
    right: 64%;
}
.cyreneEnergy12and17Row2 {
    left: 64%;
}

.cyreneEnergy18and24Row,.cyreneEnergy18and24Row2 {
    position: absolute;
    bottom: 75.6%;
    scale: 1.08;
}
.cyreneEnergy18and24Row {
    right: 80.5%;
}
.cyreneEnergy18and24Row2 {
    left: 80.5%;
}

.cyreneEnergy19and23Row,.cyreneEnergy19and23Row2 {
    position: absolute;
    bottom: 78.5%;
    scale: 1.08;
}
.cyreneEnergy19and23Row {
    right: 62%;
}
.cyreneEnergy19and23Row2 {
    left: 62%;
}

.cyreneEnergy21and22Row,.cyreneEnergy21and22Row2 {
    position: absolute;
    bottom: 63%;
    scale: 1.2;
}
.cyreneEnergy21and22Row {
    right: 51%;
}
.cyreneEnergy21and22Row2 {
    left: 51%;
}












































.castoriceMainOutlineCUSTOMEnergyImage {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    left: 0;
    scale: 1.1;
}
.castoriceFillShutterCUSTOMEnergyImage {
    width:  110px;
    height: 110px;
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    left: 0px;
    bottom: 0px;
    
    scale: 1;


}
.castoriceFillShutterCUSTOMEnergyImageBOX {
    left: 5%;
    width: 90%;
    height: 90%;
    bottom: 8%;
    overflow: hidden;
    position: absolute;
    /* border: 1px solid red; */
}
.castoriceLOCKCUSTOMEnergyImage {
    width: 50px;
    height: 50px;
    object-fit: contain;
    /* opacity: 0.8; */
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,50%);
    scale: 1;
}



.customEnergyBodyMarksCIRCLE {
    border-radius: 50%;
    border: 1px solid white;
    height: 13px;
    width:  13px;
    margin-left:    3px;
    margin-right:   3px;
}
.customEnergyBodyMarksDIAMOND {
    /* border-radius: 50%; */
    border: 1px solid white;
    height: 8px;
    width:  8px;
    rotate: 45deg;
    margin-left:    4px;
    margin-right:   4px;
}



.memoHPBar {
    position: relative;
    /* width: 80px; */
    /* height: 200px; */
    width:  70px;
    height: 100px;
    background: #222;
    mask: url(/HonkaiSR/misc/FrameServantHP.png) center / contain no-repeat;
    -webkit-mask: url(/HonkaiSR/misc/FrameServantHP.png) center / contain no-repeat;

    overflow: hidden;
    margin-left: -10px;
}
.memoHPShutter {
    position: absolute;
    top: 50%;
    right: 0%;
    
    width: 200px;
    height: 200px;
    background: linear-gradient(to right, #C84A32, #993622);
    transform-origin: top right;
}



.customEnergyMemoBoxBar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 0px;
    white-space: normal;
    position: relative;
    

    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}
.customEnergyMemoBoxImageBox,.customEnergyMemoBoxImageBoxMemoDead {
    height: 70px;
    width:  70px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.205);
    overflow: hidden;
    margin-left: -37px;
}
.customEnergyMemoBoxImageBox:hover {
    opacity: 0.5;
}
.customEnergyMemoBoxImageBoxMemoDead {
    background-color: rgba(46, 46, 46, 0.575);
    margin-left: 10px;
    opacity: 0.5;
}
.customEnergyMemoBoxImage {
    height: 100%;
    width: 100%;
    object-fit: contain;
    scale: 1.4;
}



.customEnergyBodyMarksCIRCLEPROGRESS {
    border-radius: 50%;
    height: 40px;
    width:  40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    border-radius: 50%;
    margin-right: 5px;
    margin-left: 5px;
}

.customEnergyBodyMarksCIRCLEPROGRESSIconBOX {
    height: 80%;
    width:  80%;
    object-fit: contain;
    scale: 1;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}
.customEnergyBodyMarksCIRCLEPROGRESSIcon {
    height: 100%;
    width:  100%;
    object-fit: contain;
    scale: 1.35;
    /* background-color: black; */
    /* border-radius: 50%; */
}

.customEnergyMargin, .customEnergyBodyMarksBar, .customEnergyBodyPROGRESSBar {
    margin-top:     8px;
    margin-bottom:  8px;
}

.customEnergyBodyMarksBar {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 10px;
    height: 25px;
    max-height: 25px;
    white-space: normal;
    position: relative;

    background: linear-gradient(to right, transparent 5px,black 30px, transparent 150px);
    

    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
}
.customEnergyBodyMarksBarBANGER {
    margin-top:     14px;
    margin-bottom:  14px;
}

.customEnergyBodyPROGRESSBar {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    box-sizing: border-box;
    padding: 5px;
    padding-left: 10px;
    
    white-space: normal;
    position: relative;

    background: linear-gradient(to right, transparent 5px,black 30px, transparent 150px);
}



.customEnergyBodyMarksIMAGEIcon {
    height: 30px;
    width:  30px;
    object-fit: contain;
    scale: 1;
    /* background-color: black; */
    /* border-radius: 50%; */
}

.customEnergyBodyMarksBANGERHOLDER {
    /* border-radius: 50%; */
    height: 80px;
    width:  20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    margin-right: 15px;
    margin-left: 10px;
}
.customEnergyBodyMarksBANGERHOLDERBUFFICON {
    /* border-radius: 50%; */
    height: 50px;
    width:  50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    margin-right: 0px;
    margin-left: 10px;
}

.actionDetailHeaderRowCharacterCUSTOMBANGERBOX {
    /* width: 100%; */
    /* height: 100%; */
    height: 50px;
    /* object-fit: contain; */
    /* opacity: 0.8; */
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
}
.actionDetailHeaderRowCharacterCUSTOMBANGER {
    height: 48px;
    position: absolute;
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translate(-25%,-50%); */
    /* opacity: 0.9; */
}
.actionDetailHeaderRowCharacterCUSTOMBANGEREMPTY {
    opacity: 0.3;
}
.actionDetailHeaderRowCharacterCUSTOMBANGERSHUTTER {
    height: 43px;
    position: absolute;
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-25%,-50%); */
        
}
.actionDetailHeaderRowCharacterCUSTOMBANGERSHUTTERFILL {
    filter: brightness(0)
        saturate(100%)
        invert(16%)
        sepia(97%)
        saturate(3945%)
        hue-rotate(10deg)
        brightness(70%)
        contrast(115%);
}
.actionDetailHeaderRowCharacterCUSTOMBANGERSHUTTEREMPTY {
    filter: brightness(0.14);
}

.actionDetailHeaderRowCharacterCUSTOMBANGERMASK {
    height: 37px;
    position: absolute;
    transform: translateX(-0.5px);
    /* left: 50%;
    top: 50%; */
    /* transform: translate(-22%,-50%); */
    
        
}
.actionDetailHeaderRowCharacterCUSTOMBANGERMASKFILL {
    filter: brightness(0)
        saturate(100%)
        invert(76%)
        sepia(62%)
        saturate(1252%)
        hue-rotate(329deg)
        brightness(102%)
        contrast(101%);
}
.actionDetailHeaderRowCharacterCUSTOMBANGERMASKEMPTY {
    filter: brightness(70.6%);
}