.mainBodyCardBoxRework {
    width: 15%;
    min-width: 230px;
    height: 98%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* border: 1px solid red; */



    /* border-left: 2px solid #43434370; */
    /* #434343 */

    margin: 10px;
    padding: 10px;
    padding-left: 0px;

}


.mainSelectionHeaderReworkHolder {
    width: 100%;
    height: 90px;
    /* height: auto; */
    padding: 5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    /* border-left: 2px solid #FFFFFF; */
    /* border-left: 2px solid #43434370; */
    transform: translateX(-2px);
    overflow: hidden;
}
.mainSelectionHeaderReworkHolder:hover {
    opacity: 0.5;
}


.mainSelectionHeaderRework {
    width: 100%;
    height: 77px;
    font-size: 24px;
    padding: 3px;
    font-size: 19px;
    /* padding: 4px; */
    /* height: 100%; */
    box-sizing: border-box;
    white-space: nowrap;
    border: 1px solid #686880;
    border-top-right-radius: 10px;
    /* background-color: #1e1e1e; */
    margin: 2px;
    margin-left: 0px;
    text-decoration: none;
    color: white;

    /* position: absolute;
    bottom: 19%; */
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    


    /* background-image: url("image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */



    /* position: absolute; */
    /* background-color: rgba(0, 0, 0, 0.562); */
    /* font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 2%;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 3px;
    border-radius: 3px;
    overflow: hidden;
    flex-direction: column; */
    /* background: linear-gradient(200deg, #0d393b,transparent,transparent,#ffffff21); */
    /* background-color: rgba(0, 0, 0, 0.562);
    backdrop-filter: blur(8px); */
}

.reworkCharImage {
    /* background: url('/HonkaiSR/misc/BtnMainStory270.png'), center / cover; */
    background-image: url("/HonkaiSR/misc/BtnMainStory270.png");
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.reworkLightconeImage {
    /* background: url('/HonkaiSR/misc/BtnFarmMultipleDrop.png'), center / cover; */

    background-image: url("/HonkaiSR/misc/acheronLCBG.png");
    /* background-size: contain; */
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.reworkRelicImage {
    /* background: url('/HonkaiSR/misc/BtnFarmMultipleDrop.png'), center / cover; */

    background-image: url("/HonkaiSR/misc/BtnFarmMultipleDrop.png");
    /* BtnDoubleCocoon */
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.reworkEnemyImage {
    /* background: url('/HonkaiSR/misc/BtnFarmMultipleDrop.png'), center / cover; */

    background-image: url("/HonkaiSR/misc/BtnChallengeStoryAlternation_2003.png");
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.reworkEndgameImage {
    /* background: url('/HonkaiSR/misc/BtnFarmMultipleDrop.png'), center / cover; */

    background-image: url("/HonkaiSR/misc/BtnAbyssAlternation.png");
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.reworkActivitiesImage {
    /* background: url('/HonkaiSR/misc/BtnFarmMultipleDrop.png'), center / cover; */

    background-image: url("/HonkaiSR/misc/BtnDoubleCocoon.png");
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.reworkOtherImage {
    /* background: url('/HonkaiSR/misc/BtnFarmMultipleDrop.png'), center / cover; */

    background-image: url("/HonkaiSR/misc/BtnMainStory210.png");
    background-size: contain;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.reworkDotCircle {
    position: absolute;
    left: 0;
    display: none;

    width: 50px;
    height: 50px;
    border: 3px dotted rgba(255, 255, 255, 0.753);
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 10;
}
.reworkCircleInner {
    position: absolute;
    left: 0;
    display: none;

    width: 10px;
    height: 10px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transform: translateX(-50%);
    z-index: 11;
}


.mainSelectionHeaderReworkHolder:hover .reworkDotCircle, .mainSelectionHeaderReworkHolder:hover .reworkCircleInner {
    display: flex;
}
.mainSelectionHeaderReworkHolder:hover {
    border-left: 2px solid white;
}
.mainSelectionHeaderReworkHolder:hover .mainSelectionHeaderRework {
    border: 1px solid white;
}




.mainSelectionHeaderReworkText {
    position: absolute;
    bottom: 0;
    width: 100%;
    justify-content: left;
    align-items: center;
    text-align: left;
    padding: 4px;
    padding-left: 8px;
    padding-top: 1px;
    padding-bottom: 1px;
    box-sizing: border-box;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.582);
}

.mainSelectionHeader:hover {
    opacity: 0.5;
}




.mainBodyBufferleftBox {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: relative;
}
.cardBoxBannerCardIcon {
    width: 100%;
    max-width: 650px;
    object-fit: contain;
    scale: 1;
    transform: translateY(0%);
}


@media (max-width: 768px) {

    .mainBodyBufferleftBox {
        order: -1;
    }
    
    
    
    
}